<div class="create">
  <div class="create_q">
    <h1>Please be sure your that question follows the suggested guidelines before posting </h1>
    <form method='post' action='/post_q'>
      <label>Title: </label> <input class="q_title" type="text" name="title" placeholder="What's your programming question? Be specific."><br>
      <textarea rows="20" cols="80" name="body"></textarea><br>
      <button class="button">Post</button>
    </form>
  </div>
  <div class="q_guide">
    <p>How to Ask</p>
    <p>Is your question about programming?</p>
    <p>We prefer questions that can be <i>answered<i>, not just discussed.</p>
    <p>Provide details. Share your research.</p>
  </div>
</div>


