<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>StackOverflow</title>
</head>
<nav>

  <% if user_logged_in %>
    <li class="headers"><a href="/logout">Log Out</a></li>
    <li class="headers"><a href="/user/<%=@user.user_name%>"><%= @user.user_name %></a></li>
  <% else %>
    <li class="headers"><a href="/login">Log In</a></li>
    <li class="headers"><a href="/sign_up">Sign Up</a></li>
  <% end %>
  <li class="headers"><a href="/">Home</a></li>
</nav>
<img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Stackoverflow_icon.png "height="50">c a b <i><strong>overflow</strong></i>
<body class="container">
    <%= yield %>
</body>
</html>
