<form>
  <label>Email</label> <br>
  <input type="email" name="email" placeholder="you@example.org">
  <label>Password</label> <br>
  <input type="password" name="password" placeholder="*******">
  <button>Log in</button>
  <div class="red"> <%= @error %> </div>
</form>
