
        <!-- <ul class="vote-buttons" data-id="<%= @question.id %>">
          <li><input type="image" class="arrow-1" name="submit" src="/images/up-triangle.png" height="15px" data-direction="up"></li>
          <li id="vote-button-v-count-1"><%=@question.votes.count%></li>
          <li><input type="image" class="arrow-1" name="submit" src="/images/down-triangle.png" height="15px" data-direction="down"></li>
        </ul> -->



        <!-- <ul class="vote-buttons" data-id="<%= comment.id %>>
          <li><input type="image" class="arrow-2" name="submit" src="/images/up-triangle.png" height="15px"></li>
          <li id="vote-button-v-count-2"><%=@question.votes.count%></li>
          <li><input type="image" class="arrow-2" name="submit" src="/images/down-triangle.png" height="15px"></li>
        </ul>  -->


