<form>
  <label>Display Name</label> <br>
  <input type="text" name="user_name" placeholder="J.Doe">
  <label>Email(required, but never shown)</label> <br>
  <input type="email" name="email" placeholder="you@example.org">
  <label>Password</label> <br>
  <input type="password" name="password" placeholder="*******">
  <button>Sign Up</button>
</form>
